{

"COMMANDS": ["g++ GCCFLAGS G++FLAGS -o PPPP PPPP.cc LIBRARIES > PPPP.out 2> PPPP.err",
             "chmod o+x PPPP"],
"LOCAL-REQUIRES":["PPPP.cc"],

"KEEP":    ["PPPP"],
"SHOW":    ["PPPP.err","PPPP.out"],
"CHECKS":  ["cmp -s PPPP.err /dev/null",
            "cmp -s PPPP.out /dev/null"]
}
