{

"COMMANDS": ["pdflatex -record -no-shell-escape -interaction \\",
             "    nonstopmode >PPPP.out 2>PPPP.err PPPP.tex"],
"CONDITION": "UPLOAD PPPP.tex",
"KEEP":    ["PPPP.pdf","PPPP.log","PPPP.fls", "PPPP.tex"],
"SHOW":    ["PPPP.err", "PPPP.out"],
"CHECKS":  ["cmp -s PPPP.err /dev/null"]

}
