{

"COMMANDS": ["gcc GCCFLAGS -o PPPP PPPP.c LIBRARIES \\",
             "    > PPPP.out 2> PPPP.err",
	     "chmod o+x PPPP"],

"CONDITION": "UPLOAD PPPP.c",
"KEEP":    ["PPPP", "PPPP.c"],
"SHOW":    ["PPPP.err","PPPP.out"],
"CHECKS":  ["EMPTY PPPP.err",
            "EMPTY PPPP.out"]

}
