{

"COMMANDS": ["g++ GXXFLAGS GPPFLAGS -o PPPP \\",
             "    PPPP.cc LIBRARIES \\",
	     "    > PPPP.cout 2> PPPP.cerr",
             "chmod o+x PPPP"],
"CONDITION": "UPLOAD PPPP.cc",

"KEEP":    ["PPPP", "PPPP.cc"],
"SHOW":    ["PPPP.cerr","PPPP.cout","PPPP.cc"],
"CHECKS":  ["EMPTY PPPP.cerr",
            "EMPTY PPPP.cout"]
}
