{

"COMMANDS": ["javac -encoding UTF-8 -sourcepath . -d . \\",
             "    PPPP.java > PPPP.cout 2> PPPP.cerr",
	     "jar cfe PPPP.jar PPPP *.class \\",
             "    >> PPPP.cout 2>> PPPP.cerr"],

"CONDITION": "UPLOAD PPPP.java",
"KEEP":    ["PPPP.jar", "PPPP.java"],
"SHOW":    [["PPPP.cerr","PPPP.java"],
            ["PPPP.cout","PPPP.java"],
	    []]
}

