{

"COMMANDS": ["python3 -m py_compile PPPP.py \\",
             "    > PPPP.cout 2> PPPP.cerr",
             "mv -f __pycache__/*.pyc PPPP.pyc"],
"CONDITION": "UPLOAD PPPP.py",
"KEEP":    ["PPPP.pyc", "PPPP.py"],
"SHOW":    [["PPPP.cerr","PPPP.py"],
            ["PPPP.cout","PPPP.py"],
	    []]
}

