{

"COMMANDS": ["g++ GCCFLAGS GPPFLAGS -o PPPP \\",
             "    PPPP.cc LIBRARIES > PPPP.out 2> PPPP.err",
             "chmod o+x PPPP"],
"CONDITION": "UPLOAD PPPP.cc",

"KEEP":    ["PPPP", "PPPP.cc"],
"SHOW":    ["PPPP.err","PPPP.out"],
"CHECKS":  ["EMPTY PPPP.err",
            "EMPTY PPPP.out"]
}
