{

"COMMANDS": ["pdflatex -record -no-shell-escape -interaction \\",
             "    nonstopmode >PPPP.tout 2>PPPP.terr PPPP.tex"],
"CONDITION": "UPLOAD PPPP.tex",
"KEEP":    ["PPPP.pdf","PPPP.tout","PPPP.tex"],
"SHOW":    ["PPPP.pdf", "PPPP.terr", "PPPP.tout"],
"CHECKS":  ["EMPTY PPPP.terr"]

}
