{

"COMMANDS": ["$BIN/epm_sandbox $GSARGS $GSPACE \\",
             "    -status XXXX-PPPP.gstat generate-PPPP \\",
             "    < XXXX-PPPP.in 2> XXXX-PPPP.gerr \\",
	     "    > XXXX-PPPP.sin"],

"LOCAL-REQUIRES":["XXXX-PPPP.in"],
"REQUIRES":["generate-PPPP"],
"CREATABLE": ["generate-PPPP"],
"KEEP":    ["XXXX-PPPP.sin"],
"CHECKS":    ["XXXX-PPPP.gerr", "XXXX-PPPP.sin"]

}

