{

"COMMANDS": ["${EPM_HOME}/bin/epm_run -d XXXX-PPPP.run \\",
             "    > XXXX-PPPP.cout 2> XXXX-PPPP.cerr"],
"CONDITION": "UPLOAD XXXX-PPPP.run",
"CHECKS":  ["EMPTY XXXX-PPPP.cerr"],
"KEEP":    ["XXXX-PPPP.run"],
"SHOW":    ["XXXX-PPPP.cerr", "XXXX-PPPP.cout",
            "XXXX-PPPP.run"]

}

