{

"COMMANDS": ["chmod o+r . PPPP.pyc",
             "epm_sandbox GSARGS GSPACE \\",
             "    -status XXXX-PPPP.g1stat generate_PPPP \\",
	     "    < XXXX-PPPP.in 2> XXXX-PPPP.g1err | \\",
	     "  epm_sandbox SSARGS SSPACE \\",
	     "    -status XXXX-PPPP.sstat python3 \\",
	     "    PPPP.pyc DARGS \\",
	     "    > XXXX-PPPP.sout 2> XXXX-PPPP.serr",
	     "chmod o-r . PPPP.pyc",
             "epm_sandbox GSARGS GSPACE \\",
             "    -status XXXX-PPPP.g2stat generate_PPPP \\",
             "    < XXXX-PPPP.in 2> XXXX-PPPP.g2err | \\",
	     "  epm_sandbox FSARGS FSPACE \\",
             "    -status XXXX-PPPP.fstat filter_PPPP \\",
	     "    3< XXXX-PPPP.sout > XXXX-PPPP.fout \\",
	     "    2> XXXX-PPPP.ferr",
             "epm_score SCORING-ARGS \\",
	     "    < XXXX-PPPP.fout XXXX-PPPP.ftest \\",
	     "    > XXXX-PPPP.score 2> XXXX-PPPP.err"],

"LOCAL-REQUIRES":
	["PPPP.pyc","XXXX-PPPP.in", "XXXX-PPPP.ftest"],
"REQUIRES":["generate_PPPP", "filter_PPPP"],
"CREATABLE":["generate_PPPP", "filter_PPPP"],
"CHECKS":  ["EMPTY XXXX-PPPP.g1err", "EMPTY XXXX-PPPP.serr",
            "EMPTY XXXX-PPPP.g2err", "EMPTY XXXX-PPPP.ferr"],
"KEEP":    ["XXXX-PPPP.score"],
"SHOW":    ["XXXX-PPPP.g1err","XXXX-PPPP.serr",
            "XXXX-PPPP.g2err", "XXXX-PPPP.ferr",
            "XXXX-PPPP.score"]

}



