{

"COMMANDS": ["${EPM_HOME}/bin/epm_run XXXX-PPPP.run \\",
             "    > XXXX-PPPP.rout 2> XXXX-PPPP.rerr"],
"CONDITION": "UPLOAD XXXX-PPPP.run",
"CHECKS":  ["EMPTY XXXX-PPPP.rerr"],
"KEEP":    ["XXXX-PPPP.run"],
"SHOW":    ["XXXX-PPPP.rerr", "XXXX-PPPP.rout",
            "XXXX-PPPP.run"]

}

