{

"COMMANDS": ["$BIN/epm_sandbox $GSARGS $GSPACE \\",
             "    -status XXXX-PPPP.gstat generate-PPPP \\",
             "    < XXXX-PPPP.in 2> XXXX-PPPP.gerr | \\",
	     "  $BIN/epm_sandbox $FSARGS $FSPACE \\",
             "    -status XXXX-PPPP.fstat filter-PPPP \\",
	     "    3< XXXX-PPPP.sout > XXXX-PPPP.fout \\",
	     "    2> XXXX-PPPP.ferr",
             "$BIN/epm_score $SCORING-ARGS \\",
	     "    XXXX-PPPP.fout XXXX-PPPP.ftest \\",
	     "    > XXXX-PPPP.score 2> XXXX-PPPP.scerr"],

"LOCAL-REQUIRES":["XXXX-PPPP.in", "XXXX-PPPP.sout",
                  "XXXX-PPPP.ftest"],
"REQUIRES":["generate-PPPP", "filter-PPPP"],
"CREATABLE": ["generate-PPPP", "filter-PPPP"],
"CHECKS":  ["EMPTY XXXX-PPPP.gerr", "EMPTY XXXX-PPPP.ferr",
            "EMPTY XXXX-PPPP.scerr"],
"KEEP":    ["XXXX-PPPP.score"],
"SHOW":    ["XXXX-PPPP.gerr", "XXXX-PPPP.ferr",
            "XXXX-PPPP.scerr", "XXXX-PPPP.score"]

}

