{

"COMMANDS": [ "$BIN/epm_sandbox $GSARGS $GSPACE \\",
              "    -status XXXX-PPPP.g1stat generate-PPPP \\",
	      "    < XXXX-PPPP.in 2> XXXX-PPPP.gerr | \\",
	      "  $BIN/epm_sandbox $SSARGS $SSTIME $SSPACE \\",
	      "    -score XXXX-PPPP.score \\",
	      "    -status XXXX-PPPP.sstat PPPP $DARGS \\",
	      "     2> XXXX-PPPP.serr | \\",
	      "  $BIN/epm_sandbox $FSARGS $FSPACE \\",
              "    -status XXXX-PPPP.dstat display-PPPP \\",
	      "    2> XXXX-PPPP.d1err > XXXX-PPPP.disp",
	      "$BIN/epm_display < XXXX-PPPP.disp \\",
	      "    2> XXXX-PPPP.d2err > XXXX-PPPP.pdf" ],

"LOCAL-REQUIRES": ["PPPP","XXXX-PPPP.in"],
"REQUIRES":["generate-PPPP", "display-PPPP"],
"CREATABLE":["generate-PPPP"],
"KEEP":    ["XXXX-PPPP.pdf"],
"CHECKS":    ["XXXX-PPPP.gerr","XXXX-PPPP.serr",
              "XXXX-PPPP.d1err", "XXXX-PPPP.d2err",
	      "XXXX-PPPP.pdf"]

}
