{

"COMMANDS": ["sandbox PPPP AAAA < XXXX-PPPP.in > XXXX-PPPP.debug 2> XXXX-PPPP.derr"]
"REQUIRES":["XXXX-PPPP.in", "PPPP"],
"KEEP":    ["XXXX-PPPP.debug","XXXX-PPPP.derr"],
"OPTIONS": {
    "AAAA": "ANY"
}

}


