{

"COMMANDS": ["g++ -g $GPPFLAGS -o PPPP PPPP.cc $LIBRARIES \\",
             "    > PPPP.cout 2> PPPP.cerr",
	     "chmod o+xr PPPP",
	     "chmod o+r XXXX-PPPP.sin PPPP.cc",
	     "$BIN/epm_sandbox $SSARGS $SSDTIME $SSPACE \\",
	     "    -status XXXX-PPPP.sstat gdb -batch \\",
	     "    -ex 'run < XXXX-PPPP.sin $DARGS' \\",
	     "    -ex back PPPP \\",
	     "    > XXXX-PPPP.dout 2> XXXX-PPPP.derr",
	     "chmod o-r XXXX-PPPP.sin PPPP.cc"],

"LOCAL-REQUIRES": ["XXXX-PPPP.sin", "PPPP.cc"],
"KEEP":    ["XXXX-PPPP.dout"],
"CHECKS":    ["PPPP.cout","PPPP.cerr","XXXX-PPPP.derr",
              ["XXXX-PPPP.dout","PPPP.cc"]],
"KEEP-ON-ERROR": true

}
