{

"COMMANDS": ["epm_score $SCORING-ARGS \\",
	     "    XXXX-PPPP.fout XXXX-PPPP.ftest \\",
	     "    > XXXX-PPPP.score 2> XXXX-PPPP.scerr"],

"LOCAL-REQUIRES":["XXXX-PPPP.fout", "XXXX-PPPP.ftest"],
"CHECKS":  ["EMPTY XXXX-PPPP.scerr"],
"KEEP":    ["XXXX-PPPP.score"],
"SHOW":    ["XXXX-PPPP.scerr", "XXXX-PPPP.score"]

}


