
{

"COMMANDS": ["chmod o+r PPPP.pyc",
             "epm_sandbox SANDBOX-ARGS SANDBOX-SPACE-ARG python3 PPPP.pyc < XXXX-PPPP.in > XXXX-PPPP.out 2> XXXX-PPPP.err",
	     "chmod o-r PPPP.pyc"],

"LOCAL-REQUIRES": ["XXXX-PPPP.in", "PPPP.pyc"],
"KEEP":    ["XXXX-PPPP.out"],
"SHOW":    ["XXXX-PPPP.err","XXXX-PPPP.out"]

}

