{

"COMMANDS": ["epm_sandbox $GSARGS $GSPACE \\",
             "    -status XXXX-PPPP.gstat generate_PPPP \\",
             "    < XXXX-PPPP.in 2> XXXX-PPPP.gerr \\",
	     "    > XXXX-PPPP.sin"],

"LOCAL-REQUIRES":["XXXX-PPPP.in"],
"REQUIRES":["generate_PPPP"],
"CREATABLE": ["generate_PPPP"],
"KEEP":    ["XXXX-PPPP.sin"],
"SHOW":    ["XXXX-PPPP.gerr", "XXXX-PPPP.sin"]

}

