{

"COMMANDS": ["epm_sandbox $GSARGS $GSPACE \\",
             "    -status XXXX-PPPP.gstat generate_PPPP \\",
             "    < XXXX-PPPP.in 2> XXXX-PPPP.gerr | \\",
	     "  epm_sandbox $FSARGS $FSPACE \\",
             "    -status XXXX-PPPP.fstat filter_PPPP \\",
	     "    3< XXXX-PPPP.sout > XXXX-PPPP.fout \\",
	     "    2> XXXX-PPPP.ferr",
             "epm_score $SCORING-ARGS \\",
	     "    XXXX-PPPP.fout XXXX-PPPP.ftest \\",
	     "    > XXXX-PPPP.score 2> XXXX-PPPP.scerr"],

"LOCAL-REQUIRES":["XXXX-PPPP.in", "XXXX-PPPP.sout", "XXXX-PPPP.ftest"],
"REQUIRES":["generate_PPPP", "filter_PPPP"],
"CREATABLE": ["generate_PPPP", "filter_PPPP"],
"KEEP":    ["XXXX-PPPP.score"],
"SHOW":    ["XXXX-PPPP.gerr", "XXXX-PPPP.ferr", "XXXX-PPPP.scerr",
            "XXXX-PPPP.score"]

}

