{

"COMMANDS": ["chmod o+r PPPP.pyc",
	     "  $BIN/epm_sandbox $SSARGS $SSPDTIME $SSPACE \\",
	     "    -status XXXX-PPPP.sstat python3 \\",
	     "    PPPP.pyc $DARGS  \\",
	     "    < XXXX-PPPP.sin \\",
	     "    > XXXX-PPPP.dout 2>&1",
	     "chmod o-r PPPP.pyc"],

"LOCAL-REQUIRES": ["XXXX-PPPP.sin", "PPPP.pyc"],
"KEEP":    ["XXXX-PPPP.dout"],
"CHECKS":    [["XXXX-PPPP.dout","PPPP.py"]],
"KEEP-ON-ERROR": true

}
