{

"COMMANDS": ["epm_sandbox SANDBOX-ARGS PPPP < XXXX-PPPP.in > XXXX-PPPP.out 2> XXXX-PPPP.err",
             "score SCORING-ARGS < XXXX-PPPP.out 3< XXXX-PPPP.test > XXXX-PPPP.score"],

"LOCAL-REQUIRES":["XXXX-PPPP.in", "PPPP"],
"REMOTE-REQUIRES":["XXXX-PPPP.test"],
"KEEP":    ["XXXX-PPPP.score"],
"SHOW":    ["XXXX-PPPP.err","XXXX-PPPP.score"],

}
