{

"COMMANDS": ["chmod o+r . PPPP.jar",
	     "  $BIN/epm_sandbox $SSARGS $SSJDTIME \\",
	     "    -status XXXX-PPPP.sstat java \\",
	     "    $JFLAGS -jar PPPP.jar $DARGS \\",
	     "    < XXXX-PPPP.sin \\",
	     "    > XXXX-PPPP.dout 2> XXXX-PPPP.derr",
	     "chmod o-r . PPPP.jar"],

"LOCAL-REQUIRES": ["XXXX-PPPP.sin", "PPPP.jar"],
"KEEP":    ["XXXX-PPPP.dout"],
"SHOW":    ["XXXX-PPPP.derr",
            ["XXXX-PPPP.dout","PPPP.java"]],
"KEEP-ON-ERROR": true

}


