
{

"COMMANDS": ["chmod o+r PPPP.pyc",
             "epm_sandbox GSARGS GSPACE generate_PPPP \\",
	     "    < XXXX-PPPP.in 2> XXXX-PPPP.gerr | \\",
	     "  epm_sandbox SSARGS SSPACE \\",
	     "    python3 PPPP.pyc DARGS  \\",
	     "    > XXXX-PPPP.sout 2> XXXX-PPPP.serr",
	     "chmod o-r PPPP.pyc"],

"CONDITION": "UPLOAD XXXX-PPPP.in",
"LOCAL-REQUIRES": ["PPPP.pyc"],
"REQUIRES": ["generate_PPPP"],
"CREATABLE": ["generate_PPPP"],
"KEEP":    ["XXXX-PPPP.in", "XXXX-PPPP.sout"],
"SHOW":    ["XXXX-PPPP.gerr", "XXXX-PPPP.serr", "XXXX-PPPP.sout"]

}

