{

"COMMANDS": ["epm_sandbox SANDBOX-ARGS SANDBOX-SPACE-ARG PPPP < XXXX-PPPP.in > XXXX-PPPP.out 2> XXXX-PPPP.err"],

"LOCAL-REQUIRES":["XXXX-PPPP.in", "PPPP"],
"KEEP":    ["XXXX-PPPP.out"],
"SHOW":    ["XXXX-PPPP.err","XXXX-PPPP.out"]

}
