{

"COMMANDS": ["chmod o+r . PPPP.pyc",
             "$BIN/epm_sandbox $GSARGS $GSPACE \\",
             "    -status XXXX-PPPP.g1stat generate-PPPP \\",
	     "    < XXXX-PPPP.in 2> XXXX-PPPP.g1err | \\",
	     "  $BIN/epm_sandbox $SSARGS $SSPTIME $SSPACE \\",
	     "    -score XXXX-PPPP.score \\",
	     "    -status XXXX-PPPP.sstat python3 \\",
	     "    PPPP.pyc $DARGS \\",
	     "    > XXXX-PPPP.sout 2> XXXX-PPPP.serr",
	     "chmod o-r . PPPP.pyc",
             "$BIN/epm_sandbox $GSARGS $GSPACE \\",
             "    -status XXXX-PPPP.g2stat generate-PPPP \\",
             "    < XXXX-PPPP.in 2> XXXX-PPPP.g2err | \\",
	     "  $BIN/epm_sandbox $FSARGS $FSPACE \\",
             "    -status XXXX-PPPP.fstat filter-PPPP \\",
	     "    3< XXXX-PPPP.sout > XXXX-PPPP.fout \\",
	     "    2> XXXX-PPPP.ferr",
             "$BIN/epm_score $SCORING-ARGS \\",
	     "    XXXX-PPPP.fout XXXX-PPPP.ftest \\",
	     "    > XXXX-PPPP.score 2> XXXX-PPPP.scerr"],

"LOCAL-REQUIRES":
	["PPPP.pyc","XXXX-PPPP.in", "XXXX-PPPP.ftest"],
"REQUIRES":["generate-PPPP", "filter-PPPP"],
"CREATABLE":["generate-PPPP", "filter-PPPP"],
"CHECKS":  ["EMPTY XXXX-PPPP.g1err", "EMPTY XXXX-PPPP.scerr",
            "EMPTY XXXX-PPPP.g2err", "EMPTY XXXX-PPPP.ferr",
            "EMPTY XXXX-PPPP.scerr"],
"KEEP":    ["XXXX-PPPP.score"],
"SHOW":    ["XXXX-PPPP.g1err","XXXX-PPPP.serr",
            "XXXX-PPPP.g2err", "XXXX-PPPP.ferr",
            "XXXX-PPPP.scerr", "XXXX-PPPP.score"]

}



