{

"COMMANDS": ["epm_sandbox SANDBOX-ARGS PPPP < XXXX-PPPP.in > XXXX-PPPP.out 2> XXXX-PPPP.err",
             "epm_score SCORING-ARGS < XXXX-PPPP.out XXXX-PPPP.test > XXXX-PPPP.score 2>> XXXX-PPPP.err"],

"LOCAL-REQUIRES":["XXXX-PPPP.in", "PPPP"],
"REQUIRES":["XXXX-PPPP.test"],
"CREATABLE":["XXXX-PPPP.test"],
"KEEP":    ["XXXX-PPPP.score"],
"SHOW":    ["XXXX-PPPP.err","XXXX-PPPP.score"],
"CHECKS":  ["cmp -s XXXX-PPPP.err /dev/null"]

}
