{

"COMMANDS": ["$BIN/epm_run -d XXXX-PPPP.run \\",
             "    > XXXX-PPPP.cout 2> XXXX-PPPP.cerr"],
"CONDITION": "UPLOAD XXXX-PPPP.run",
"KEEP":    ["XXXX-PPPP.run"],
"CHECKS":    ["XXXX-PPPP.cerr","XXXX-PPPP.cout",[]]

}

