{

"COMMANDS": ["chmod o+r . PPPP.pyc",
             "epm_sandbox GSARGS GSPACE generate_PPPP \\",
	     "    < XXXX-PPPP.in 2> XXXX-PPPP.gerr | \\",
	     "  epm_sandbox SSARGS SSPACE \\",
	     "    python3 PPPP.pyc DARGS \\",
	     "    > XXXX-PPPP.sout 2> XXXX-PPPP.serr",
	     "chmod o-r . PPPP.class",
             "epm_sandbox GSARGS GSPACE generate_PPPP \\",
             "    < XXXX-PPPP.in 2> XXXX-PPPP.gerr | \\",
	     "  epm_sandbox FSARGS FSPACE filter_PPPP \\",
	     "    3< XXXX-PPPP.sout > XXXX-PPPP.fout \\",
	     "    2> XXXX-PPPP.ferr"],
             "epm_score SCORING-ARGS \\"
	     "    < XXXX-PPPP.fout XXXX-PPPP.ftest \\"
	     "    > XXXX-PPPP.score 2>> XXXX-PPPP.err"],

"LOCAL-REQUIRES":["PPPP.pyc"],
"REMOTE-REQUIRES":["XXXX-PPPP.in", "XXXX-PPPP.ftest",
                   "generate_PPPP", "filter_PPPP"],
"CONDITION": "SUBMIT"

}
