{

"COMMANDS": ["$BIN/epm_sandbox $GSARGS $GSPACE \\",
             "    -status XXXX-PPPP.gstat generate-PPPP \\",
             "    < XXXX-PPPP.in 2> XXXX-PPPP.gerr | \\",
	     "  $BIN/epm_sandbox $SSARGS $SSTIME $SSPACE \\",
	     "    -status XXXX-PPPP.sstat PPPP $DARGS \\",
	     "    > XXXX-PPPP.sout 2> XXXX-PPPP.serr"],

"CONDITION": "UPLOAD XXXX-PPPP.in",
"LOCAL-REQUIRES":["PPPP"],
"REQUIRES":["generate-PPPP"],
"CREATABLE": ["generate-PPPP"],
"KEEP":    ["XXXX-PPPP.in", "XXXX-PPPP.sout"],
"CHECKS":    ["XXXX-PPPP.gerr","XXXX-PPPP.serr", "XXXX-PPPP.sout"]

}
