{

"COMMANDS": ["${EPM_HOME}/bin/epm_javac \\",
             "    -encoding UTF-8 -sourcepath . \\",
	     "    -d . YYYY-PPPP.java \\",
	     "    > YYYY-PPPP.cout 2> YYYY-PPPP.cerr"],

"CONDITION": "UPLOAD YYYY-PPPP.java",
"KEEP":    ["YYYY-PPPP.class", "YYYY-PPPP.java"],
"SHOW":    ["YYYY-PPPP.cerr","YYYY-PPPP.cout",
            "YYYY-PPPP.java"],
"CHECKS":  ["EMPTY YYYY-PPPP.cerr",
            "EMPTY YYYY-PPPP.cout"]
}


