{

"COMMANDS": ["gcc $GXXFLAGS -o YYYY-PPPP \\",
             "    YYYY-PPPP.c $LIBRARIES \\",
             "    > YYYY-PPPP.cout 2> YYYY-PPPP.cerr",
	     "chmod o+x YYYY-PPPP"],

"CONDITION": "UPLOAD YYYY-PPPP.c",
"KEEP":    ["YYYY-PPPP", "YYYY-PPPP.c"],
"SHOW":    ["YYYY-PPPP.cerr","YYYY-PPPP.cout",
            "YYYY-PPPP.c"],
"CHECKS":  ["EMPTY YYYY-PPPP.cerr",
            "EMPTY YYYY-PPPP.cout"]

}

