{

"COMMANDS": ["g++ $GXXOPT $GPPFLAGS -o YYYY-PPPP \\",
             "    YYYY-PPPP.cc $LIBRARIES \\",
	     "    > YYYY-PPPP.cout 2> YYYY-PPPP.cerr",
             "chmod o+x YYYY-PPPP"],
"CONDITION": "UPLOAD YYYY-PPPP.cc",

"KEEP":    ["YYYY-PPPP", "YYYY-PPPP.cc"],
"CHECKS":    [["YYYY-PPPP.cerr","YYYY-PPPP.cc"],
              ["YYYY-PPPP.cout","YYYY-PPPP.cc"],
	      []]
}

