{

"COMMANDS": ["$BIN/epm_sandbox YYYY-PPPP -doc \\",
	     "    < /dev/null \\",
	     "    > YYYY-PPPP.txt 2>&1"],

"LOCAL-REQUIRES": ["YYYY-PPPP"],
"KEEP":    ["YYYY-PPPP.txt"],
"CHECKS":    ["YYYY-PPPP.txt"]

}

