{

"COMMANDS": ["python3 -m py_compile YYYY-PPPP.py \\",
             "    > YYYY-PPPP.cout 2> YYYY-PPPP.cerr",
             "mv -f __pycache__/*.pyc YYYY-PPPP.pyc"],
"CONDITION": "UPLOAD YYYY-PPPP.py",
"KEEP":    ["YYYY-PPPP.pyc", "YYYY-PPPP.py"],
"CHECKS":    [["YYYY-PPPP.cerr","YYYY-PPPP.py"],
              ["YYYY-PPPP.cout","YYYY-PPPP.py"],
	      []]

}
