{

"COMMANDS": ["g++ AAAA -o PPPP PPPP.cc BBBB > PPPP.out 2> PPPP.err"],
"LOCAL-REQUIRES":["PPPP.cc"],
"KEEP":    ["PPPP"],
"SHOW":    ["PPPP.err","PPPP.out"],
"CHECKS":  ["cmp -s PPPP.err /dev/null",
            "cmp -s PPPP.out /dev/null"],
"OPTIONS": { "std": { "values": ["-std=gnu++11", ""],
                      "wildcard": "AAAA" },
	     "opt": { "values": ["-Og", "-O3", ""],
                      "wildcard": "AAAA" },
	     "ped": { "values": ["", "-Wpedantic"]},
                      "wildcard": "AAAA" },
             "gsl": { "values": ["", "-lgsl"],
                      "wildcard": "BBBB" },
             "crypto": { "values": ["", "-lcrypto"]}}
                      "wildcard": "BBBB" }
}
