{

"COMMANDS": ["gcc GCCFLAGS -o PPPP PPPP.c LIBRARIES > PPPP.out 2> PPPP.err"],

"LOCAL-REQUIRES":["PPPP.c"],
"KEEP":    ["PPPP"],
"SHOW":    ["PPPP.err","PPPP.out"],
"CHECKS":  ["cmp -s PPPP.err /dev/null",
            "cmp -s PPPP.out /dev/null"],

"OPTIONS": {

    "std": { "values": ["-std=gnu++11", ""],
             "name": "GCCLAGS" },
    "opt": { "values": ["-Og", "-O3", ""],
             "name": "GCCLAGS" },
    "ped": { "values": ["", "-Wpedantic"],
             "name": "GCCLAGS" },
    "gsl": { "values": ["", "-lgsl"],
             "name": "LIBRARIES" },
    "crypto": { "values": ["", "-lcrypto"],
                "name": "LIBRARIES" }}

}
