{

"COMMANDS": ["g++ AAAA -o PPPP PPPP.cc BBBB > PPPP.out 2> PPPP.err"],
"LOCAL-REQUIRES":["PPPP.cc"],
"KEEP":    ["PPPP"],
"SHOW":    ["PPPP.err","PPPP.out"],
"CHECKS":  ["cmp -s PPPP.err /dev/null",
            "cmp -s PPPP.out /dev/null"],
"OPTIONS": {
    "AAAA": { "std": ["-std=gnu++11", ""],
	      "opt": ["-Og", "-O3", ""],
	      "ped": ["", "-Wpedantic"]},
    "BBBB": { "gsl": ["", "-lgsl"],
              "crypto": ["", "-lcrypto"]}}

}
