{

"COMMANDS": ["epm_sandbox SSSS PPPP < XXXX-PPPP.in > XXXX-PPPP.out 2> XXXX-PPPP.err"],
"LOCAL-REQUIRES":["XXXX-PPPP.in", "PPPP"],
"KEEP":    ["XXXX-PPPP.out"],
"SHOW":    ["XXXX-PPPP.err","XXXX-PPPP.out"],
"OPTIONS": { "cputime: { "range": ["1", "30"],
			 "format": "-cputime ####",
                         "wildcard": "SSSS" },
             "space":  { "range": ["16", "2048"],
			 "format": "-space ####m",
                         "wildcard": "SSSS" },
	     "filesize": { "range": ["1", "2048"],
			 "format": "-filesize ####k",
                         "wildcard": "SSSS" }}

}
