{

"COMMANDS": ["sandbox PPPP AAAA < XXXX-PPPP.in > XXXX-PPPP.out 2> XXXX-PPPP.err"]
"REQUIRES":["XXXX-PPPP.in", "PPPP"],
"KEEP":    ["XXXX-PPPP.out","XXXX-PPPP.err"],
"OPTIONS": {
    "AAAA": "ANY"
}

}


