{

"COMMANDS": ["epm_sandbox SSSS PPPP < XXXX-PPPP.in > XXXX-PPPP.out 2> XXXX-PPPP.err",
             "score AAAA < XXXX-PPPP.out 3< XXXX-PPPP.test > XXXX-PPPP.score"],
"LOCAL-REQUIRES":["XXXX-PPPP.in", "PPPP"],
"REMOTE-REQUIRES":["XXXX-PPPP.test"],
"KEEP":    ["XXXX-PPPP.score"],
"SHOW":    ["XXXX-PPPP.err","XXXX-PPPP.score"],
"OPTIONS: { "AAAA": [["space", ""],
                     ["", "integer FFFF FFFF"],
		     ["", "float FFFF FFFF"],
		     ["exponent decimal sign", ""],
		     ["column", ""],
		     ["", "letter-case"],
		     ["", "words-are-format"],
		     ["", "nonumber"]],
    "SSSS": [["-cputime 30"],
             ["-space 2g"],
	     ["-filesize 2m"]]

}


