{

"COMMANDS": ["generate_PPP < XXXX-PPPP.in | epm_sandbox SSSS PPPP AAAA > XXXX-PPPP.debug 2> XXXX-PPPP.err"]
"LOCAL-REQUIRES":["XXXX-PPPP.in", "PPPP"],
"REMOTE-REQUIRES":["generate_PPPP"],
"KEEP":    ["XXXX-PPPP.debug"],
"SHOW":    ["XXXX-PPPP.err","XXXX-PPPP.debug"],
"OPTIONS": {
    "AAAA": "ANY",
    "SSSS": { "cputime: ["-cputime 30", "LESS"],
              "space":  ["-space 2g", "LESS"],
	      "filesize": ["-filesize 2m", "LESS"]}}
}
