
{

"COMMANDS": ["epm_sandbox SANDBOX-ARGS java JAVA-FLAGS PPPP < XXXX-PPPP.in > XXXX-PPPP.out 2> XXXX-PPPP.err"],

"LOCAL-REQUIRES":["XXXX-PPPP.in", "PPPP.class"],
"KEEP":    ["XXXX-PPPP.out"],
"SHOW":    ["XXXX-PPPP.err","XXXX-PPPP.out"],

"OPTIONS":
{
     "cputime: { "type": "integer",
                 "range": ["1", "30"],
		 "default": "30",
		 "description": "allowed CPU time in seconds",
		 "name": "CPUTIME" },
     "cputime-form: { "values": ["-cputime CPUTIME"],
		      "name": "SANDBOX-ARGS" },
     "space":  { "type": "integer",
                 "range": ["16", "2048"],
		 "default": "2048",
		 "description": "allowed virtual memory in megabytes",
		 "name": "SPACE" },
     "space-form":  { "values": ["-space SPACEm"],
		      "name": "SANDBOX-ARGS" },
     "filesize": { "type": "integer",
                   "range": ["1", "2048"],
		   "default": "2048",
		   "description": "allowed output files size in kilobytes",
		   "name": "FILESIZE" },
     "filesize-form": { "values": ["-filesize FILESIZEk"],
		        "name": "SANDBOX-ARGS" },

     "gc": { "values": ["-XX:+UseSerialGC"],
             "name": "JAVA-FLAGS" },
     "ss": { "type": "integer",
             "range": ["4","64"],
             "name": "STACK-SIZE" },
     "ss-form": { "values": ["-XssSTACK-SIZEm"],
                  "name": "JAVA-FLAGS" },
     "ms": { "type": "integer",
             "range": ["128","1920"],
             "name": "HEAP-SIZE" },
     "ms-form": { "values": ["-XmsHEAP-SIZEm -XmxHEAP-SIZEm"],
                  "name": "JAVA-FLAGS" },
     "ea": { "values": ["-ea", ""],
             "name": "JAVA-FLAGS" }}
}
