{

"COMMANDS": ["epm_sandbox SSSS PPPP < XXXX-PPPP.in > XXXX-PPPP.out 2> XXXX-PPPP.err",
             "score AAAA < XXXX-PPPP.out 3< XXXX-PPPP.test > XXXX-PPPP.score"],
"LOCAL-REQUIRES":["XXXX-PPPP.in", "PPPP"],
"REMOTE-REQUIRES":["XXXX-PPPP.test"],
"KEEP":    ["XXXX-PPPP.score"],
"SHOW":    ["XXXX-PPPP.err","XXXX-PPPP.score"],
"OPTIONS": { "cputime: { "range": ["1", "30"],
			 "format": "-cputime ####",
                         "wildcard": "SSSS" },
             "space":  { "range": ["16", "2048"],
			 "format": "-space ####m",
                         "wildcard": "SSSS" },
	     "filesize": { "range": ["1", "2048"],
			   "format": "-filesize ####k",
                           "wildcard": "SSSS" },
             "whitespace": { "values": ["space", ""],
                             "wildcard": "AAAA" },
             "integer": { "format": "integer ???? ????",
                          "wildcard": "AAAA" },
	     "float": { "format": "float ???? ????",
                        "wildcard": "AAAA" },
	     "decimal": { "values": ["exponent decimal sign", ""],
                          "wildcard": "AAAA" },
	     "column": { "values": ["column", ""],
                         "wildcard": "AAAA" },
	     "letter-case": { "values": ["", "letter-case"],
                              "wildcard": "AAAA" },
	     "words-are-format": { "values": ["", "words-are-format"],
                                   "wildcard": "AAAA" },
	     "nonumber": { "values": ["", "nonumber"],
                           "wildcard": "AAAA" }}

}
