{

"COMMANDS": ["epm_sandbox SSSS PPPP < XXXX-PPPP.in > XXXX-PPPP.out 2> XXXX-PPPP.err",
             "score AAAA < XXXX-PPPP.out 3< XXXX-PPPP.test > XXXX-PPPP.score"],
"LOCAL-REQUIRES":["XXXX-PPPP.in", "PPPP"],
"REMOTE-REQUIRES":["XXXX-PPPP.test"],
"KEEP":    ["XXXX-PPPP.score"],
"SHOW":    ["XXXX-PPPP.err","XXXX-PPPP.score"],
"OPTIONS": {
    "SSSS": { "cputime: ["-cputime 30", "LESS"],
              "space":  ["-space 2g", "LESS"],
	      "filesize": ["-filesize 2m", "LESS"]},
    "AAAA": { "space": ["space", ""],
              "integer": ["", "integer FFFF FFFF"],
	      "float": ["", "float FFFF FFFF"],
	      "decimal": ["exponent decimal sign", ""],
	      "column": ["column", ""],
	      "letter-case": ["", "letter-case"],
	      "words-are-format": ["", "words-are-format"],
	      "nonumber": ["", "nonumber"]}}

}
